# Ignore output files
bin/Makefile
bin/autosyncml

lib/Makefile
lib/Makefile
lib/*.php
lib/models/Makefile
lib/models/*.php
lib/classes/Makefile
lib/classes/*.php
lib/exceptions/Makefile
lib/exceptions/*.php

etc/Makefile
etc/*.ini

# Ignore Zend/Eclipse files
.buildpath
.project
.settings/

# Ignore backup files
*~
*.bak
